//Laptops
@media screen and (max-width:1100px){ 
.july-2016-wp-pages{
	.heading{
		width: 60%;
		padding-right: 2%;
	}
	.head-buttons{
		width: 40%;
		select{
			width: 74%;
		}
	}
	.select-container{
		&:after{
			top: 5px;
		}
	}
	.list-heading{
		display: none;
	}
	.list-content{
		margin-bottom: 2%;
		li{
			width: 100%!important;
			text-align: left!important;
			border-right: none!important;
			padding: 0!important;
		    height: 46px;
			.list-button{
				position: absolute;
				width: 100%;
				height: 100%;
				display: block;
				top: 0;
				left: 0;
				z-index: 2;
				cursor: pointer;
				background-color: transparent;
			}
			label{
				display: inline-block!important;
				height: 100%;
			}
			div{
				padding: 1.2%;
				float: left;
				display: inline-block;
				width: 75%;
				height: 100%;
			}
			&:nth-of-type(1){
				position: relative;
				z-index: 1;
				&:after{
				    position: absolute;
				    content: '\F107';
				    display: inline-block;
				    top: 0px;
				    right: 10px;
				    font-family: FontAwesome;
				    font-size: 45px;
				    color: #58585a;
				    z-index: 0;
				    font-weight: 100;
			    	@include transition(.3s);
				}
				&.show{
					&:after{
						@include transform(-180);
					}
				}
			}
			&:nth-of-type(2){
				display: none;	
			}
			&:nth-of-type(3){
				display: none;
			}
			&:nth-of-type(4){
				display: none;
			}
			&:nth-of-type(5){
				display: none;
			}
		}
	}
	.new-booking{
		col4{
			span{
				font-size: 19px;
			}
		}
	}
	.booking-headings{
		display: none;
	}
	.booking-details{
		margin-top: 4%;
		li{
			padding: 0;
			width: 100%!important;
			background-color: inherit;
			border: none;
			margin-bottom: 1%;
			height: 35px;
			label{
				display: block;
				width: 40%;
				float: left;
				padding: 8px 10px;
				height: 100%;
			}
			div{
				float: left;
				width: 60%;
				height: 100%;
				padding: 8px 10px;
				background-color: white;
			}
		}
	}
	.schedule-details{
		li{
			font-size: 18px;
		}
		>li{
			&:nth-of-type(1){
				padding: 1.8% 1.1% 1.3% 5.4%;
			}
			&:nth-of-type(2){
				padding: 1.8% .5% 1.3% 1.3%;
			}
		}
	}
} //end of july-2016-wp-pages 1100px

} //end of laptops
//Tablets
@media screen and (max-width: 900px){ 

.july-2016-wp-pages{
	.list-content{
		li{
			div{
				width: 60%;
				padding: 2.2%;
			}
			label{
				width: 40%!important;
				padding: 2.2%!important;
			}
		}
	}
	col4{
		width: 100%;
	}
	.new-booking{
		a{
			font-size: 16px;
		}
	}
	.customer-heading{
		li{
			font-size: 15px;
		}
	}
	.schedule-heading{
		display: none;
	}
	.schedule-details{
		&:before{
			left: 2px;
		}
		margin-top: 4%;
		padding-left: 25px;
		> li{
			padding: 0!important;
			width: 100%!important;
			background-color: inherit!important;
			border: none;
			margin-bottom: 1%;
			label{
				display: block;
				width: 40%;
				float: left;
				padding: 10px;
				height: 100%;
			}
			div{
				float: left;
				width: 60%;
				height: 100%;
				padding: 10px;
				background-color: white;
			}
		}
		li{
			label{
				font-size: 16px;
			}
		}
	}
	.touchpoint-calculation{
		li{
			&:nth-of-type(1){
				width: 100%;	
				margin-bottom: 1%;
			}
			&:nth-of-type(2){
				width: 49%;	
			}
			&:nth-of-type(3){
				width: 50%;		
			}
		}
	}
} //end of july


} //end of Tablets 900px
//Phones
@media screen and (max-width: 500px){ 

.july-2016-wp-pages{
	.heading{
		width: 100%;
		padding-right: 0;
		margin-bottom: 10%;
	}
	.head-buttons{
		width: 100%;
		margin-bottom: 10%;
	}
	.list-content{
		li{
			height: 53px;
			div{
				width: 50%;
				padding: 4% 2%;
			}
			label{
				width: 50%;
			}
		}
	}
	.new-booking{
		col4, halfcol, label{
			margin-bottom: 5%;
			width: 100%;
		}
		a, button{
			width: 100%;
			text-align: center;
		}
	}
	.customer-heading{
		display: none;
	}
	.customer-details{
		margin-top: 4%;
		li{
			padding: 0;
			width: 100%!important;
			background-color: inherit;
			border: none;
			margin-bottom: 1%;
			height: 35px;
			label{
				display: block;
				width: 40%;
				float: left;
				padding: 1.3% 1.5%;
				height: 100%;
			}
			div{
				float: left;
				width: 60%;
				height: 100%;
				padding: 1.3% 1.5%;
				background-color: white;
			}
		}
	}
	.schedule-details{
		li{
			font-size: 14px;
			label{
				font-size: 12px;
			}
			div{
				font-size: 14px;
			}
		}
	}
	ul.actions{
		padding: 3% 2%;
		li{
			.fa{
				position: relative;
				top: 4px;
				font-size: 18px;
			}
		}
	}
} //end of july-2016
} //end of Phones 500px
//Small Phones
@media screen and (max-width: 350px){ 

.july-2016-wp-pages{

	h3{
		font-size: 22px;
		margin-bottom: 4%;
	}
	.head-buttons{
		select{
			width: 69%;
		}
	}
	.booking-details{
		li{
			label{
				font-size: 13px;
			}
			div{
				font-size: 15px;
			}
		}
	}
	.schedule-details{
		input{
			width: 100%;
		}
	}
	.touchpoint-calculation{
		li{
			width: 100%!important;
			margin-bottom: 1%;
			input{
				font-size: 72%!important;
			}
		}
	}
	.half-col{
		width: 100%;
		margin-bottom: 1%;
	}
	.touchpoint-buttons-area{
		li{
			button{
				width: 100%;
			}
		}
	}
}//end of july

} //end of Small Phones 350px